#cover{
    text-align: center;
}


#cover h2 {
    color: var(--color-key);

    margin: 50px 0 0;
    font-size: 70px;
}

#cover p {
    color: var(--color-key);
    
    margin: 40px 0 0;
    font-size: 20px;
}

/* Убираем нумерацию на первом слайде */

#cover::after{
    opacity: 0;
}