#cover h2 {
    margin: 30px 0 0;
    color: var(--color-key);
    text-align: center;
    font-size: 70px;
}

#cover p {
    margin: 10px 0 0;
    text-align: center;
    color: var(--color-key);
    font-style: italic;
    font-size: 20px;
}

#cover p a {
    color: var(--color-key);
}

#cover::after{
    opacity: 0;
}