/* Блок */

.info--frame-heading {
    position: relative;
    padding: 24px 24px 20px;
}

/* Информационный блок с рамкой */

.info {
    border-width: 1px;
    border-style: solid;
}

/* Зеленый блок */
.info--green {
    border-color: #4eb543;
}

/* Красный блок */
.info--red {
    border-color: #dc3545;
}

/* Синий блок */
.info--blue {
    border-color: var(--color-key);
}

.info--theme-color{
    border-color: var(--color-key);
}

/* Блок со словом <Код на Python> */

.info--frame-heading--python-code::before {
    color: var(--color-key);
    content: "<Код на Python>";
}

/* Блок со словом <Код на JS> */

.info--frame-heading--js-code::before {
    color: var(--color-key);
    content: "<Код на JS>";
}

/* Важно */

.info--frame-heading--important::before {
    color: var(--color-key);
    content: "Важно!";
}

/* Слово на рамке */

.info--frame-heading::before {
    position: absolute;
    top: -13px;
    left: 20px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 25px;
    font-family: "Ubuntu Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    background: #ffffff;
}